<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoF-kD5zvIihT8eP1ItpybWfjgiW9hCbo</string>
	<key>GCM_SENDER_ID</key>
	<string>664526657370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rakshit.Team7LibraryManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>team7lms-f8054</string>
	<key>STORAGE_BUCKET</key>
	<string>team7lms-f8054.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:664526657370:ios:47acb5ed973c1a5e598563</string>
</dict>
</plist>
